.fc-toolbar {
	@apply justify-center gap-5 #{!important};
}

.fc-toolbar-title {
	@apply text-black text-xl capitalize #{!important};
}

.fc-button-primary,
.fc-next-button,
.fc-prev-button,
.fc-button {
	@apply bg-transparent text-black border-0 focus_shadow-none #{!important};
}

.fc-scrollgrid,
.fc-theme-standard th,
.fc-theme-standard td {
	@apply border-gray-100 #{!important};
}

.fc-day:not(.fc-day-past) {
	@apply capitalize cursor-pointer;

	&:hover {
		@apply bg-slate-50;
	}
}

.fc-day-past {
	// @apply cursor-not-allowed opacity-5;
	@apply bg-white cursor-not-allowed;
	.fc-daygrid-day-number {
		@apply text-[#f2f2f2];
	}
}

// adjust padding for the day's number
.fc-daygrid-day-number {
	@apply p-2 #{!important};
}

// to be able to target hover state of fc-day
// .fc-daygrid-day-frame {
// z-index: 10;
// }

// ******
// specific for admin and client site
// ******
.calendar-admin {
	--fc-event-bg-color: rgb(240 106 106);
	--fc-event-border-color: rgb(240 106 106);
}

.calendar-client {
	--fc-bg-event-color: #000000;
	--fc-bg-event-opacity: 0.7;

	.fc-daygrid-day-bg .fc-bg-event {
		@apply flex items-center z-30 cursor-not-allowed;
	}

	.fc-bg-event .fc-event-title {
		color: white;
	}
}
